* {
    min-width: 0;
    min-height: 0;
}

body {
    background-color: #f5ebe0;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 100;
    min-height: 100;
    margin: 0px;
}

#index-body {
    background: linear-gradient(rgba(0, 0, 0, 0.33), rgba(0, 0, 0, 0.33)), url(./images/landingphoto.jpg);
    background-size: cover;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    margin-right: 25px;
}

#marg-header {
    display: flex;
    align-items: center;
}

h1 {
    margin-top: 80px;
    font-size: 500%;
    word-wrap: break-word;
    margin-bottom: 45px;
    margin-left: 25px;
    margin-right: 25px;
}

h4 {
    font-size: 150%;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

h1, 
h4 {
    align-items: center;
    text-align: center;
    font-family: "Garamond", serif;
    font-weight: bolder;
    list-style-type: none;
    color: white;
}

#margherita-img-desc,
#fries-img-desc,
#caesar-img-desc {
    display: flex;
    flex-direction: row;
    font-size: 135%;
    padding-top: 20px;
    padding-left: 50px;
}

#recipe-images {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 75px;
    filter: brightness(92%);
}

.homepage-images {
    height: 270px;
    transition: 0.5s;
    transition-delay: 70ms;
    border-radius: 200px;
    margin-top: 20px;
    
}

.homepage-images:hover {
    height: 320px;
}

#margherita-image {
    max-width: 90%;
    width: auto;
    height: auto;
}

#fries-image {
    max-width: 90%;
    max-height: auto;
}

#caesar-image {
    max-width: 90%;
    height: auto;
}

#margherita-paragraph,
#fries-paragraph,
#caesar-paragraph {
    padding: 50px;
}

#marg-ingredients-list-picker {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}

#marg-ingredients-list {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
    margin-bottom: 60px;
}

#marg-serving-size {
    display: flex;
    flex-direction: column;
}

#marg-steps {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media only screen and (max-width: 1628px) {
    #margherita-img-desc,
    #fries-img-desc,
    #caesar-img-desc,
    #recipe-images {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-left: 0px;
    }

}